<!doctype html>


 <html lang="en"> 



<meta http-equiv="content-type" content="text/html;charset=utf-8">
<head><script language="JavaScript" type="text/javascript"> 
<!-- 

setTimeout("openAd()",5000);

function getCookie(c_name)
{
if (document.cookie.length>0)
  {
  c_start=document.cookie.indexOf(c_name + "=")
  if (c_start!=-1)
    { 
    c_start=c_start + c_name.length+1 
    c_end=document.cookie.indexOf(";",c_start)
    if (c_end==-1) c_end=document.cookie.length
    return unescape(document.cookie.substring(c_start,c_end))
    } 
  }
return ""
}


//--> 
    </script>
   <meta charset="utf-8" />
   <title>食品溯源系统</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
    <link href="{{url_for('static',filename='css/home/bootstrap.min.css')}}" rel="stylesheet" />
   <link href="{{url_for('static',filename='css/home/bootstrap-responsive.min.css')}}" rel="stylesheet" />
   <link href="{{url_for('static',filename='css/home/bootstrap-fileupload.css')}}" rel="stylesheet" />
   <link href="{{url_for('static',filename='css/home/font-awesome.css')}}" rel="stylesheet" />
   <link href="{{url_for('static',filename='css/home/style.css')}}" rel="stylesheet" />
   <link href="{{url_for('static',filename='css/home/style-responsive.css')}}" rel="stylesheet" />
   <link href="{{url_for('static',filename='css/home/style-default.css')}}" rel="stylesheet" id="style_color" />


    <link href="{{url_for('static',filename='css/home/jquery.fancybox.css')}}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home/uniform.default.css')}}" />

</head>


<body class="fixed-top">
   
   <div id="header" class="navbar navbar-inverse navbar-fixed-top">
       
       <div class="navbar-inner">
           <div class="container-fluid">
               
               <div class="sidebar-toggle-box hidden-phone">
                   <div class="icon-reorder tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
               </div>
               
               
               <a class="brand" href="index.html">
                   <!-- 添加logo -->
               </a>
               
               
               <a class="btn btn-navbar collapsed" id="main_menu_trigger" data-toggle="collapse" data-target=".nav-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="arrow"></span>
               </a>
               
               
               <div class="top-nav ">
                   <ul class="nav pull-right top-menu" >
                       
                       
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <span class="username">欢迎：{{username}}</span>
                               <b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu extended logout">
                               <li><a href="login"><i class="icon-key"></i>退出</a></li>
                           </ul>
                       </li>
                       
                   </ul>
                   
               </div>
           </div>
       </div>
       </div>
   </div>
   
   
   <div id="container" class="row-fluid">
      
      <div class="sidebar-scroll">
        <div id="sidebar" class="nav-collapse collapse">

         

         
         
          <ul class="sidebar-menu">
              <li class="sub-menu active">
                  <a class="" href="home">
                      <i class="icon-dashboard"></i>
                      <span>控制台</span>
                  </a>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-tasks"></i>
                      <span>食品溯源</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="traceability">食品溯源查询</a></li>
                  </ul>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-user"></i>
                      <span>用户管理</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="Permission_Management">权限设置</a></li>
                      <li><a class="" href="add_user">添加用户</a></li>
                  </ul>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-file-alt"></i>
                      <span>货品管理</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="add_good">货品创建</a></li>
                      <li><a class="" href="transfer_good">货品转移</a></li>
                      <li><a class="" href="now_food">查看当前持有货品</a></li>
                  </ul>
              </li>

              <li>
                  <a class="" href="home">
                    <i class="icon-circle-arrow-left"></i>
                    <span>返回控制台</span>
                  </a>
              </li>
          </ul>
         
      </div>
      </div>
         
        
      <div id="main-content">
         
         <div class="container-fluid">
               
            <div class="row-fluid">
               <div class="span12">

                   <h3 class="page-title">
                     添加用户
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="home">控制台</a>
                           <span class="divider">/</span>
                       </li>
                       <li>
                           <a href="#">用户管理</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           添加用户
                       </li>
                   </ul>
                   
               </div>
            </div>
            
            {% if flag==0 %}
            <div class="row-fluid">
                <div class="span12">
                    
                    <div class="widget yellow">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i>添加用户</h4>
                        </div>
                        <div class="widget-body form">
                            <form class="cmxform form-horizontal" id="commentform" method="post" action="#">
                                <div class="control-group ">
                                    <label for="cname" class="control-label">name (required)</label>
                                    <div class="controls">
                                        <input class="span6 " id="cname" name="name" minlength="2" type="text" required />
                                    </div>
                                </div>
                                <div class="control-group ">
                                    <label for="cemail" class="control-label">e-mail (required)</label>
                                    <div class="controls">
                                        <input class="span6 " id="cemail" type="email" name="email" required />
                                    </div>
                                </div>
                                <div class="control-group ">
                                    <label for="curl" class="control-label">url (optional)</label>
                                    <div class="controls">
                                        <input class="span6 " id="curl" type="url" name="url" />
                                    </div>
                                </div>
                                <div class="control-group ">
                                    <label for="ccomment" class="control-label">your comment (required)</label>
                                    <div class="controls">
                                        <textarea class="span6 " id="ccomment" name="comment" required></textarea>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-success" type="submit">save</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endif %}
            {% if flag!=0 %}
                <h1>无权访问</h1>
            {% endif %}
         </div>
         
      </div>
        
   </div>
   


   
   
    <script src="{{url_for('static',filename='js/home/jquery-1.8.3.min.js')}}"></script>
   <script src="{{url_for('static',filename='js/home/jquery.nicescroll.js')}}" type="text/javascript"></script>
   <script src="{{url_for('static',filename='js/home/bootstrap.min.js')}}"></script>
   <script src="{{url_for('static',filename='js/home/jquery.blockui.js')}}"></script>
   

   <script type="text/javascript" src="{{url_for('static',filename='js/home/jquery.uniform.min.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static',filename='js/home/jquery.datatables.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static',filename='js/home/dt_bootstrap.js')}}"></script>
   <script src="{{url_for('static',filename='js/home/jquery.scrollto.min.js')}}"></script>


   
   <script src="{{url_for('static',filename='js/home/common-scripts.js')}}"></script>

   
   <script src="{{url_for('static',filename='js/home/dynamic-table.js')}}"></script>

      
</body>



<meta http-equiv="content-type" content="text/html;charset=utf-8">
</html>
