//
// contact.scss
//

.custom-form {
  .alert {
    padding: 11px;
    font-size: 15px;
  }
}

textarea.form-control {
  height: auto !important;
}
.form-control {
  margin-bottom: 15px;
  box-shadow: none !important;
  height: 48px;
  padding-left: 20px;
  border: 1px solid $gray-200;
  font-size: 14px;
  &:focus {
    border-color: $gray-200;
  }
}

textarea.form-control {
  height: auto;
  padding-top: 13.5px;
}

.contact-img {
  img {
    width: 30px;
  }
}


.contact-social{
  i{
  width: 36px;
  height: 36px;
  display: inline-block;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  background: $primary;
  font-size: 15px;
  color: $white;
  }
}
