//
// features.scss
//

.features-img {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  background: rgba($primary, 0.1);
  border-radius: 50% 0% 50% 50%;
  text-align: center;
  img {
    width: 22px;
  }
}
