//
// general.scss
//

body {
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

p {
  font-size: 16px;
}
