//
// Services.scss
//

.services-box {
  padding: 35px 25px;
  border: 1px solid $gray-200;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  &:hover {
    border: 1px solid transparent;
    box-shadow: $box-shadow;
  }

  .services-img {
    position: relative;
    img {
      width: 50px;
    }
    &:before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      display: inline-block;
      background: rgba($primary, 0.1);
      border-radius: 50% 0% 50% 50%;
      margin-left: 12px;
      margin-top: -15px;
    }
  }
}

.services-box.active {
  border: 1px solid transparent;
  box-shadow: $box-shadow;
}
