//
// variables.scss
//

@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Open+Sans:wght@400;600&display=swap');


$primary:   #565ae3;
$success:   #28a745;
$info:      #53c2fd;
$warning:   #ffc107;
$danger:    #dc3545;
$orange:    #f09105;
$purple:    #704fff;
$cyan:      #00e6e6;
$blue:      #4763cb;
$pink:      #f85f89;
$white:     #ffffff;
$dark:      #1d2a5f;
$light:     #fbfbfe;
$muted:     #79798b;

// stylelint-disable
$gray-100: #f8f9fa;
$gray-200: #efefef;
$gray-300: #efefef;
$gray-400: #e6effe;
$gray-500: #adb5bd;
$gray-600: #89a2b5;
$gray-700: #495057;
$gray-800: #2d2d2d;
$gray-900: #1d262d;

$colors: (
    "primary": $primary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "orange": $orange,
    "dark": $dark,
    "cyan": $cyan,
    "blue": $blue,
    "muted": $muted,
    "purple": $purple,
    "pink": $pink,
    "white": $white,
    "light": $light
);


// Body Background
$body-bg:                   #f5f5f5;
$bg-gradient:               linear-gradient(to right, $blue, $primary);
$box-shadow:                 0 0 0 1px rgba(190, 190, 190, 0.04), 0 1.8vw 3vw -0.7vw rgba(0, 0, 0, 0.07);
$box-shadow-sm:                 0 0 0 1px rgba(190, 190, 190, 0.04), 0 1vw 3vw -0.9vw rgba(0, 0, 0, 0.07);


// Base font
$font-size-base:            14px;

$font-family-base:          'Open Sans', sans-serif;
$font-family-secondary:     'Mrs Saint Delafield', sans-serif;



